

<h3 *ngIf="userIdToUpdate; else create"> 
  Update User for Id: {{userIdToUpdate}}
</h3>
<ng-template #create>
  <h3> Create New User </h3>
</ng-template>
<div>
<form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">
 <table>
   <tr><td>Enter Name</td><td><input formControlName="user_name">
   <label *ngIf="userForm.get('user_name').invalid && processValidation" [ngClass] = "'error'"> Name is required. </label>
   </td></tr>
   <tr><td>Enter Role</td><td><input formControlName="user_role">
   <label *ngIf="userForm.get('user_role').invalid && processValidation" [ngClass] = "'error'"> Role is required. </label>
   </td></tr>	
   <tr><td colspan="2">
   <button *ngIf="!userIdToUpdate">CREATE</button>  
   <button *ngIf="userIdToUpdate">UPDATE</button>  
   <button (click)="backToCreateUser()" *ngIf="userIdToUpdate">Go Back</button>  
   </td></tr>
 </table>
</form> 
<br/>
<div *ngIf="statusCode; else processing">
  <div *ngIf="statusCode === 201" [ngClass] = "'success'">
     User added successfully.
  </div>   
  <div *ngIf="statusCode === 409" [ngClass] = "'success'">
       User already exists.
  </div>   	
  <div *ngIf="statusCode === 200" [ngClass] = "'success'">
       User updated successfully.
  </div>   	      
  <div *ngIf="statusCode === 204" [ngClass] = "'success'">
       User deleted successfully.
  </div>   	   
  <div *ngIf="statusCode === 500" [ngClass] = "'error'">
       Internal Server Error.
  </div>	
</div>
<ng-template #processing>
 <img *ngIf="requestProcessing" src="/src/assets/images/loading.gif">
</ng-template>
</div>
<h3>User Details</h3>
<table>
 <tr><th> Id</th> <th>Name</th><th>Role</th><th></th><th></th></tr>
 <tr *ngFor="let user of allUsers" >
       <td>{{user.id}}</td> <td>{{user.user_name}}</td> <td>{{user.user_role}}</td>
 <td><button type="button" (click)="loadUserToEdit(user.id)">Edit</button> </td> 
 <td><button type="button" (click)="deleteUser(user.id)">Delete</button></td>
 </tr>
</table> 